SUPABASE_URL=https://baprktxsesgogiwiuvzy.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJhcHJrdHhzZXNnb2dpd2l1dnp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1MDc5NjQsImV4cCI6MjEwMzA4Mzk2NH0.85uvPIYAlHjECkb0hNIjSfTQ8_1X3jt4V_rhSM8cSRE
